In [1]:
import pandas as pd

In [2]:
import uuid

In [3]:
columns = ["name","id","base_experience","weight","height","body_mass_index","order","slot_1","slot_2","front_default_sprite_url"]

raw_data = [["Bulbasaur",1,64,69,7,9.86,1,"grass","poison","https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"],
["Ivysaur",2,142,130,10,13.0,2,"grass","poison","https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png"]]

raw_df = pd.DataFrame(raw_data, columns=columns)

raw_df

,name,id,base_experience,weight,height,body_mass_index,order,slot_1,slot_2,front_default_sprite_url
0,Bulbasaur,1,64,69,7,9.86,1,grass,poison,https://raw.githubusercontent.com/PokeAPI/spri...
1,Ivysaur,2,142,130,10,13.00,2,grass,poison,https://raw.githubusercontent.com/PokeAPI/spri...

### Would need to either remove image url or apply a blur to the face and any identifiable components

In [4]:
raw_df.drop('front_default_sprite_url', axis=1)

,name,id,base_experience,weight,height,body_mass_index,order,slot_1,slot_2
0,Bulbasaur,1,64,69,7,9.86,1,grass,poison
1,Ivysaur,2,142,130,10,13.00,2,grass,poison

### Replace name with a randomly generated hexidecimal string. Store name-to-string as a table on DB/schema with highly restrictive permissions

In [9]:
name_to_random_id = dict(zip(raw_df['name'], [uuid.uuid4().hex for _ in range(0,len(raw_df['name']))]))

name_to_random_id

{'Bulbasaur': '6e6e1ff929b94b4a9bfae3732422ba5e',
 'Ivysaur': 'f707f8b28fb941499eb4ad0092eb3f5a'}

In [10]:
raw_df['name'].replace(name_to_random_id)

0    6e6e1ff929b94b4a9bfae3732422ba5e
1    f707f8b28fb941499eb4ad0092eb3f5a
Name: name, dtype: object